<center><h2>投稿一覧</h2><br>

  <div class="container">
    <div class="row row-eq-height">
    <% @blogs.each do |blog| %>
      <div class="blogs-index-item col-md-4">
        <img src="<%= blog.picture %>" class="img-responsive">
        <br><%= blog.user.name %><%= "さんの投稿を" %>
        <%= link_to("見る","/blogs/#{blog.id}") %>
      </div>
    <% end %>
    </div>
  </div>


<br>

<%= link_to '投稿する', new_blog_path, class:"square_btn" %>
